body {
  background: gray;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 500px; 
}

.titulo-centralizado {
  text-align: center; 
  background-color: rgb(255, 255, 255); 
}

.nm1 {
  text-align: center;
}

.imgDestaque {
  height:250px;
}